.loading {
  width: 250px;
  display: block;
  height: 20px;
  margin: 0px auto;
  border-radius: 2px;
  background-color: #cfcfcf;
  position: relative;

  transform: translate(0%, 100%);
  overflow: hidden;
  z-index: 1;
}
.loading:before {
  content: "";
  height: 20px;
  width: 250px;
  position: absolute;
  background-color: #fafafa;
  border-radius: 2px;
  animation: animation 1.6s normal ease;
}

@keyframes animation {
  0% {
    left: 0;
    width: 0%;
  }
  75% {
    left: 0%;
    width: 75%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
